html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	font: 10pt Arial;
	color: #DDD;
	background-color: #222;
	display: flex;
	flex-direction: column;
}
section.controls {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	align-content: stretch;
}
a, a:link, a:active, a:visited {
	color: #4080FF;
	text-decoration: none;
}
pre.assFile {
	width: 100%;
	box-sizing: border-box;
	font: 10pt Consolas;
	background-color: black;
	color: #00FF00;
	box-shadow: 0 0 10px 4px #002000;
	overflow: auto;
	border: 1px solid #008000;
	padding: 0.25em;
	margin: 0;
	height: 320px;
	
}
video {
	flex: 1 1 0;
}
dl dt {
	font-style: italic
}
dl dd {
	padding-left: 1em;
	margin: 0;
}
div.instruction {
	height: 320px;
	width: 200px;
	box-sizing: border-box;
	padding: 0.5em;
	flex: 0 0 200px;
}